{#
    By default, forms enable client-side validation. This means that you can't
    test the server-side validation errors from the browser. To temporarily
    disable this validation, add the 'novalidate' attribute:

    {{ form_start(form, {method: ..., action: ..., attr: {novalidate: 'novalidate'}}) }}
#}
<div class="panel panel-default">
<div class="panel-body">
{{ form_start(form, {method: 'POST', action: path('glossary_index')}) }}
    <div class="col-sm-3">
        {{ form_widget(form.locale) }}
    </div>
    <div class="col-sm-3">
        {{ form_widget(form.term) }}
    </div>
    <div class="col-sm-3">
        <input type="submit" value="Filter" class="{{ button_css|default("btn btn-primary") }}" />
    </div>
{{ form_end(form) }}
</div>
</div>