{% extends 'base.html.twig' %}

{% block body_id 'glossary_index' %}

{% block main %}
    <h2>Glossaries</h2>
    {{ render(controller('AppBundle:Glossary:filterGlossary')) }}
    
    {% for glossary in glossaries %}
    {% set terms = glossary.terms %}
    {% set locales = locales() %}
    <table class="table table-striped table-middle-aligned">
        <thead>
            <tr>
                <th colspan="4">A glossary based on {{ locales[glossary.locale].name|capitalize }} by {{ glossary.translator.fullName }}</div>
            </tr>
            <tr>
                <th scope="col" class="col-sm-2">Term</th>
                <th scope="col" class="col-sm-2">Locale</th>
                <th scope="col" class="col-sm-8">Definition</th>
                <th scope="col" class="col-sm-2 text-center"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'label.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% set cur, prev = "", "" %}
        {% for term in terms %}
            {% set cur = term.term %}
            <tr>
                <td>
                    {% if cur != prev %}
                        {{ term.term }}
                    {% endif %}
                    {% set prev = cur %}
                </td>
                <td>{{ locales[term.locale].name|capitalize }}</td>
                <td>{{ term.definition }}</td>
                <td class="text-right text-nowrap">
                    <div class="item-actions">
                        <a href="{{ path('admin_term_edit', {id: term.id}) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        <a href="{{ path('admin_term_new', {id: glossary.id, term: term.term }) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'post.no_posts_found'|trans }}</td>
           </tr>
        {% endfor %}        
        </tbody>
    </table>
    <hr>
    {% endfor %}
    <div>
        <a href="{{ path('admin_glossary_new') }}" class="btn btn-sm btn-primary">
            <i class="fa fa-plus" aria-hidden="true"></i> New Glossary
        </a>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
    {{ show_source_code(_self) }}
{% endblock %}