{{ include('admin/term/_delete_term_confirmation.html.twig') }}
<form action="{{ url('admin_term_delete', {id: term.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-lg btn-block btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete term
    </button>
</form>
