{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_term_edit' %}

{% block main %}
    <h1>Edit: {{ term.term }}</h1>

    {{ include('admin/term/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('admin/term/_delete_form.html.twig', {term: term}, with_context = false) }}
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
