{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_term_new' %}

{% block main %}
    <h1>Term creation</h1>
    {{ form_start(form) }}
        {# Render any global form error (e.g. when a constraint on a public getter method failed) #}
        {{ form_errors(form) }}
    
        {{ form_row(form.locale) }}
        {{ form_row(form.term) }}
        {{ form_row(form.definition) }}
        <input type="submit" value="Create Term" class="btn btn-primary" />
        <a href="{{ path('glossary_index') }}" class="btn btn-link">
            Back to Glossary List
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
