{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_term_new' %}

{% block main %}
    <h1>Glossary creation</h1>
    {{ form_start(form) }}
        {# Render any global form error (e.g. when a constraint on a public getter method failed) #}
        {{ form_errors(form) }}
        {{ form_row(form.locale) }}
        {% for term in form.terms %}
            <div class="form-group">
            {{ form_label(term.term) }}
            {{ form_widget(term.term) }}
            </div>
            {{ form_row(term.definition) }}
        {% endfor %}
        <input type="submit" value="Create Glossary" class="btn btn-primary" />
        <a href="{{ path('glossary_index') }}" class="btn btn-link">
            Back to Glossary List
        </a>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
